body{
    background-image: url('1722.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Caveat', cursive;
    display: flex;
    margin: auto;
    justify-content: center;


}

.input{
    background-color: #9d1c7b;
    color: white;
    text-decoration: none;
    border: 2px solid #A52A2A;
    font-weight: 900;
    font-size: 15px;
    margin: 10px auto;
    padding: 14px 18px;
    border-radius: 10px;
}
