<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <link rel='stylesheet' href="../static/authstyle.css" th:href="authstyle.css">
  <title>Title</title>
</head>
<body>

<div class="header">

  <!--<form class="box"  method="post" action="/auth">-->
  <form class="box" th:action="@{/auth}" method="post">



    <h1>Авторизация</h1>
    <input type="text" name="username" value= th:field="${login}">
    <input type="password" name="password" placeholder="Введите пароль" th:text="${password}">
    <input type="submit"  value="Войти">

    <a class="nav-item" href="/main">На главную</a>

  </form>

</div>


</body>
</html>