<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/cabinet3style.css" th:href="cabinet3style.css">
    <title>Title</title>
</head>
<body>
<div class="container">
  <div class="admin">
    <h1>ДОБРО ПОЖАЛОВАТЬ<br> АДМИН</h1>

  </div>
  <div class="buttons">

    <button class="button-66">Список книг</button>


    <button class="button-66">Список читателей</button>


    <button class="button-66">Добавить книгу</button>


    <form action="/main">
      <button class="button-66">На главную</button></form>




    <form action="/auth/logout">
      <button class="button-66">Выйти</button></form>

  </div>
</div>

</body>
</html>